<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Anime Recommender</title>
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>Anime Recommender</h1>
                <h2>Find your next favorite anime!</h2>
            </header>
            <main>
                <!-- TODO: CSRF token -->
                <form action="/subscribe" method="POST">
                    <div id="email-div">
                        <label for="email">Email Address:</label>
                        <input type="email" id="email" name="email" placeholder="Enter your email address" required>
                    </div>
                    <div id="nsfw-div">
                        <input type="checkbox" id="nsfw" name="NSFWPreference" value="true">
                        <label for="nsfw">NSFW</label>
                    </div>
                    <button type="submit">Subscribe</button>
                </form>
            </main>
            <footer>
                <p>© Created by Pranjal & Kartik. All rights reserved.</p>
            </footer>
        </div>
    </body>
</html>