doctype html
html 
    head
        title= title
        link(rel='stylesheet', href='css/subscribeResponse.css')
        div(class='wrapper')
            body
                main 
                    h1= greetingText
                    h2= message
                footer 
                    p © Created by Pranjal and Kartik. All rights reserved.